@use '../root.scss';
@use '../mixins.scss';

.contact {
    &__text {
        text-align: center;
        margin-inline: auto;
        margin-top: 2rem;
        max-width: 25rem;
    }

    &-form {
        margin-top: 2rem;
        margin-inline: auto;
        display: flex;
        justify-content: center;
        max-width: 32rem;
        gap: 1rem;

        label {
            width: 73%;
        }

        &__input {
            @include mixins.inputDefault();
        }

        &__error,
        &__success {
            @include mixins.errorDefault();
        }

        &__success {
            color: root.$typeography-green;
        }

        &__btn {
            height: fit-content;
            padding: .6rem 1.5rem !important;
            font-size: 1rem;
            @include mixins.btnDark();
        }

        &__loading {
            @include mixins.loadingDefault();
            margin-top: 2rem;
        }
    }
}