@use '../root.scss';
@use '../mixins.scss';

.header {
    padding: 1.8rem 2rem;
    margin-inline: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid root.$border-primary;

    &__brand {
        display: flex;
        align-items: center;
        gap: .5rem;
        font-size: 1.12rem;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 1rem;

        &-item {
            text-transform: capitalize;
            padding: .3rem .5rem;
            border-radius: .5rem;

            &.active {
                background-color: root.$primary-grey;
            }
        }

        button.header__list-btn {
            font-size: .95rem;
        }

        &-btn {
            text-transform: capitalize;
            @include mixins.btnDefault();

            &--dark {
                @include mixins.btnDark();
            }
        }
    }
}