@use '../root.scss';
@use '../mixins.scss';

.login-form {
    max-width: 22rem;
    @include mixins.formDefault();

    &__label {
        @include mixins.labelDefault();
    }

    &__input {
        @include mixins.inputDefault();
    }

    &__error {
        @include mixins.errorDefault();
    }

    &__btn {
        text-transform: capitalize;
        font-size: 1rem;
        padding-block: .5rem !important;
        @include mixins.btnDark();
    }

    &__loading {
        @include mixins.loadingDefault();
    }
}