@use '../root.scss';
@use '../mixins.scss';

.login-form {
    margin-top: 2rem;
    margin-inline: auto;
    max-width: 22rem;
    border: 1px solid root.$border-primary;
    padding-inline: 1rem;
    padding-block: 1.5rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;

    &__label {
        display: block;
        text-transform: capitalize;
        margin-bottom: .4rem;
        margin-left: .2rem;
    }

    &__input {
        background-color: root.$primary-white;
        border: 1px solid root.$border-primary;
        border-radius: .5rem;
        padding: .6rem 1rem;
        width: 100%;
        font-size: 1rem;
        color: root.$typeography-input;

        &::placeholder {
            font-size: 1rem;
            color: root.$typeography-input;
        }
    }

    &__error {
        margin-left: .2rem;
        color: root.$typeography-red;
        text-align: center;
    }

    &__btn {
        text-transform: capitalize;
        font-size: 1rem;
        padding-block: .5rem !important;
        @include mixins.btnDark();
    }

    &__loading {
        margin-top: 4rem;
        text-align: center;
        display: block;
    }
}