@use '../root.scss';
@use '../mixins.scss';

.profile-form {
    max-width: 35rem;
    @include mixins.formDefault();

    &__box {
        display: flex;
        gap: 1rem;
    }

    label {
        width: 100%;
    }

    &__label {
        @include mixins.labelDefault();
    }

    &__input {
        @include mixins.inputDefault();
    }

    &__error,
    &__success {
        @include mixins.errorDefault();
    }

    &__success {
        color: root.$typeography-green;
    }

    &__btn {
        text-transform: capitalize;
        font-size: 1rem;
        padding-block: .5rem !important;
        max-width: 17rem;
        width: 100%;
        margin-inline: auto;
        @include mixins.btnDark();
    }

    &__loading {
        @include mixins.loadingDefault();
    }
}