$primary-black: #2C2C2C;
$primary-white: #fff;
$primary-grey: #F5F5F5;

$accent-grey: #E3E3E3;

$border-primary: #D9D9D9;
$border-secondary: #767676;

$typeography-black: #1E1E1E;
$typeography-grey: #757575;
$typeography-white: $primary-grey;
$typeography-input: #B3B3B3;
$typeography-red: #d86a6a;
$typeography-green: #95d6a4;